/* Custom css file for K. Ramsel FC Theming */

@import url(https://fonts.googleapis.com/css?family=Khand:400,500,700|Quantico:700);

body {
  color: #666666;
  font-weight: 300;
}
h1 {
  color: #ff1e1f;
  font-family: 'Quantico';
  font-weight: 700;
  text-transform: uppercase;
}
section#section-header.dexp-section.dexp-sticky {
  background-image: url("/KRFC/sites/default/files/pictures/KRFC_header_img.png");
  background-size: cover;
}
a.site-logo {
  margin: 55px 0 40px 0;
  width: 100%;
}
.social-top .fa {
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  margin: 0 7.5px;
  position: relative;
  top: 65px;
  right: 0;
}
#section-header.fixed-transition {
  opacity: 1;
}
#section-header.fixed-transition .social-top .fa {
  top: 39px;
  }
.palm-top {
  position: absolute;
  top: 145px;
  right: 15px;
  text-align: right;
  padding: 0;
}
#section-header.fixed-transition .palm-top {
  right: 135px;
  top: 30px;
  width: 5%;
}
.social-top .fa:hover, .social-top .fa:active{
  color: rgba(255, 255, 255, 1);
}
#section-header.fixed-transition a.site-logo {
  margin: 15px 0;
  left: -45px;
  position: relative;
}
#section-header.fixed-transition .site-logo img {
  max-height: 76px;
}
ul.menu {
  position: absolute;
  left: -155px;
  top: 155px;
}
#section-header.fixed-transition ul.menu {
  top: 0px;
}
#section-header .dexp-dropdown > ul > li > a {
  color: #fff;
  font-family: 'Khand', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  outline: none;
  padding: 35px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  width: 106px;
}
#section-header .dexp-dropdown > ul > li > a:hover,
#section-header .dexp-dropdown > ul > li > a.active,
.front #section-header .dexp-dropdown > ul > li:nth-child(6):hover > a {
  background: rgba(255, 30, 31, 0.66);
  color: #fff;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
#section-header .dexp-dropdown > ul > li:hover,
#section-header .dexp-dropdown > ul > li.active {
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
#section-header .dexp-dropdown > ul > li:hover > a,
#section-header .dexp-dropdown > ul > li.active > a {
  background: rgba(255, 30, 31, 0.66);
  color: #fff;
}
#section-header .dexp-dropdown > ul > li {
  margin: 0 0 0 0;
}
#section-header .dexp-dropdown > ul li ul {
  left: 0;
  top: 106px;
}
#section-header .dexp-dropdown > ul li ul a {
color: #000;
font-family: 'Khand', sans-serif;
font-size: 16px;
font-weight: 400;
}
#section-header .dexp-dropdown > ul li ul li ul {
  left: 200px;
  top: 0;
}
#section-header.fixed-transition .dexp-dropdown > ul li ul {
  top: 106px;
}
#section-header.fixed-transition .dexp-dropdown > ul li ul li ul {
  left: 200px;
  top: 0;
}

@media screen and (max-width: 1199px) {
  ul.menu {
    top: 121px;
  }
  #section-header.fixed-transition ul.menu {
    left: -205px;
  }
  a.site-logo {
    left: -30px;
  }
  #section-header.fixed-transition a.site-logo {
    left: -25px;
  }
  .palm-top {
    top: 125px;
    right: 23px;
  }
  #section-header.fixed-transition .palm-top {
    right: 130px;
    top: 35px;
  }
  #section-header.fixed-transition .dexp-dropdown > ul li ul {
    left: 0;
  }

}

@media screen and (max-width: 991px) {

  section#section-header.dexp-section.dexp-sticky {
    background-image: url();
  }
  #section-main-content {
    padding: 0 0 15px 0;
  }
  #section-header a.site-logo {
    margin: 15px 0;
  }
  #section-header a.site-logo img {
    height: 76px;
  }
  div.social-top {
    position: absolute;
    right: 0;
    top:-50px;
  }
  .region-socials {
    display: none;
  }
  .btn-inverse {
    background-color: #ff1e1f !important;
  }
  .btn-inverse:hover {
    background-color: #b62222 !important;
  }
  div#dexp-dropdown.dexp-menu.dexp-dropdown.mobile-open {
    opacity: 0.95;
    position: initial;
  }
  ul.menu {
    position: inherit;
  }
  body #section-header .dexp-dropdown ul.menu.menu-open li {
    padding: 0 0;
    text-indent: 15px;
  }
  body #section-header .dexp-dropdown > ul > li {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  body #section-header .dexp-dropdown ul li a {
    color: #fff;
    font-size: 25px;
    width: 100%;
  }
  body #section-header .dexp-dropdown > ul > li .menu-toggler {
    font-size: 35px;
  }
  .menu-toggler {
    right: 30px;
    top: 20px;
  }
  ul.menu.menu-open {
    background-color: #666666;
    position: initial;
  }
  .mobile-open ul.menu.menu-open ul.menu.menu-open {
    background-color: #999999;
  }
  .mobile-open ul.menu.menu-open ul.menu.menu-open ul.menu.menu-open {
    background-color: #cccccc;
  }
  .mobile-open ul.menu.menu-open ul.menu.menu-open ul.menu.menu-open a {
    color: #000 !important;
  }

}
