/* Custom css file for K. Ramsel FC Theming */

@import url(https://fonts.googleapis.com/css?family=Khand:400,500,700|Quantico:700);
body {
  color: #666666;
  font-weight: 300;
}
a.site-logo.active {
  margin: 55px 0 40px 0;
  width: 100%;
}
